[submodule "under-ai-helpers"]
	path = under-ai-helpers
	url = git@github.com:UnderUndre/under-ai-helpers.git
[submodule "unet"]
	path = unet
	url = git@github.com:UnderUndre/unet.git
[submodule "undevops"]
	path = undevops
	url = git@github.com:UnderUndre/undevops.git
[submodule "underblog"]
	path = underblog
	url = git@github.com:UnderUndre/underblog.git
[submodule "undesign"]
	path = undesign
	url = git@github.com:UnderUndre/undesign.git